@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$color-shadow: rgb(0, 0, 0);
$color-text: rgb(255, 255, 255);
$color-hover: rgba(240, 75, 53, 0.877);
$color-active: rgba(241, 88, 16, 0.801);
$color-key: rgba(238, 40, 40, 0.5);
$color-key-text: rgb(255, 255, 255);
$color-about-text: rgb(112, 112, 112);
$color-display-bg: rgb(159, 197, 192);
$color-keyboard-bg: rgb(177, 136, 177);
$color-about-bg: rgb(185, 184, 184);

$content-width: 700px;